body{
	position: relative;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

#bg{
	height: 100vh;
}

#bg2{
	height: 100vh;
	position: absolute;
	top: 0;
}

#bg3{
	height: 100vh;
	position: absolute;
	top: 0;
}

#right{
	width: 50px;
	height: 50px;
	position: fixed;
	background-image: url("../media/btr.svg");
	background-size: 100% 100%;
	right: 20px;
	bottom: 20px;
	z-index: 6000;
	cursor: pointer;
}

#left{
	width: 50px;
	height: 50px;
	position: fixed;
	background-image: url("../media/btl.svg");
	background-size: 100% 100%;
	right: 90px;
	bottom: 20px;
	z-index: 6000;
	cursor: pointer;
}

#marquee{
	position: absolute;
	overflow: hidden;
}

#marquee-content{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url('../media/marquee.svg');
	background-size: contain;
	background-repeat: no-repeat;
	animation: marquee 10s linear infinite;
}

@keyframes marquee{
	from{transform: translateX(100%);}
	to{transform: translateX(-100%);}
}

#box{
	/*height: 265px;
	width: 90px;*/
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	transition: all ease .2s;
	z-index: 1000;
	overflow: hidden;
}
#character{
	/*height: 265px;
	width: 270px;*/
	position: absolute;
	top: 0;
	left: 0;
}
#character.walk{
	animation: walk 1s steps(3) infinite;
}
@keyframes walk{
	from{ transform: translateX(0); }
	to{ transform: translateX(-100%); }
}

#character.hide{
	animation: hide 1s 1 0.5s;
}
@keyframes hide{
	from{ top: 0; }
	to{ top: 100%; }
}

#character.reveal{
	animation: reveal 1s 1 0.5s;
}
@keyframes reveal{
	from{ top: 100%; }
	to{ top: 0; }
}

#inc{
	background-image: url('../media/inc2.svg');
	background-position: center center;
	background-size: cover;
	width: 0;
	position: absolute;
	animation: inc 2s steps(2) infinite;
	transition: all ease 1s;
	z-index: 750;
}

@keyframes inc{
	from{background-image: url('../media/inc2.svg');}
	to{background-image: url('../media/inc.svg');}
}

#flask{
	z-index: 750;
	position: absolute;
	width: 100px;
}
#door1{
	z-index: 750;
	position: absolute;
	width: 0;
	transition: width ease 0.6s;
}
#door1side{
	z-index: 1100;
	position: absolute;
}
#door2{
	z-index: 750;
	position: absolute;
	width: 0;
	transition: width ease 0.6s;
}
#door2side{
	z-index: 1100;
	position: absolute;
}
#door3{
	z-index: 750;
	position: absolute;
	width: 0;
	transition: width ease 0.6s;
}
#door3side{
	z-index: 1100;
	position: absolute;
}
@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(180deg);}
}
#fan1{
	z-index: 1000;
	position: absolute;
	animation: rotate 1s linear infinite;
}
.level{
	transition: all linear .5s;
	z-index: 2000;
	position: absolute;
	height: 0;
}
#gate{
	position: absolute;
	z-index: 800;
	transition: all linear .3s;
}
#gate-fence{
	position: absolute;
	bottom: 0;
	z-index: 2000;
}

#modal-bg{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.7);
	z-index: 4500;
	opacity: 0;
	transition: all 1s ease;
}

#carpe{
	position: absolute;
	z-index: 5050;
	cursor: pointer;
	background-image: url('../media/carpe.svg');
	background-size: 100% 100%;
}

#carpe-modal{
	opacity: 0;
	transition: all 1s ease;
	height: 100%;
}

#carpe-modal.small{
	opacity: 1;
	position: absolute;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	border: 15px solid #404040;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

#carpe-modal.expand{
	opacity: 1;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	position: absolute;
	height: calc(76vh - 30px);
	width: calc(80vw - 30px);
	border: 15px solid #404040;
}

#carpe-close{
	display: none;
	position: absolute;
	top: 30px;
	right: 20px;
	border-radius: 50%;
	background-color: #ef4036;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#carpe-modal.small #carpe-close{
	display: inline-block;
}

#carpe-modal.expand #carpe-close{
	display: inline-block;
}

#carpe-content{
	opacity: 0;
}

#carpe-modal.small #carpe-content{
	opacity: 1;
}

#carpe-modal.expand #carpe-content{
	opacity: 1;
}

.modal-content{
	width: 100%;
	height: calc(100% - 100px);
	overflow: auto;
	padding: 0 100px 0 80px;
	margin: 50px 0 50px 0;
	text-align: justify;
	box-sizing: border-box;
	font-family: 'Architects Daughter', sans-serif;
	font-size: 1.2em;
	line-height: 1.8em
}

@media screen and (max-width: 720px){
	.modal-content{
		height: calc(100% - 40px);
		padding: 0 50px 0 15px;
		margin: 25px 0 15px 0;
		font-size: 1em;
		line-height: 1.5em;
	}	
}

.modal-content::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
	width: 10px;
	height: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 1);
}

#nirvana{
	position: absolute;
	z-index: 5050;
	cursor: pointer;
	background-image: url('../media/nirvana.png');
	background-size: 100% 100%;
}

#nirvana-modal{
	opacity: 0;
	transition: all 1s ease;
	height: 100%;
}

#nirvana-modal.small{
	opacity: 1;
	position: absolute;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	border: 15px solid #404040;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

#nirvana-modal.expand{
	opacity: 1;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	position: absolute;
	height: calc(76vh - 30px);
	width: calc(80vw - 30px);
	border: 15px solid #404040;
}

#nirvana-close{
	display: none;
	position: absolute;
	top: 30px;
	right: 20px;
	border-radius: 50%;
	background-color: #ef4036;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#nirvana-modal.small #nirvana-close{
	display: inline-block;
}

#nirvana-modal.expand #nirvana-close{
	display: inline-block;
}

#nirvana-content{
	opacity: 0;
}

#nirvana-modal.small #nirvana-content{
	opacity: 1;
}

#nirvana-modal.expand #nirvana-content{
	opacity: 1;
}

#tm{
	position: absolute;
	z-index: 5050;
	cursor: pointer;
	background-image: url('../media/tm.svg');
	background-size: 100% 100%;
}

#tm-modal{
	opacity: 0;
	transition: all 1s ease;
	height: 100%;
}

#tm-modal.small{
	opacity: 1;
	position: absolute;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	border: 15px solid #404040;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

#tm-modal.expand{
	opacity: 1;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	position: absolute;
	height: calc(76vh - 30px);
	width: calc(80vw - 30px);
	border: 15px solid #404040;
}

#tm-close{
	display: none;
	position: absolute;
	top: 30px;
	right: 20px;
	border-radius: 50%;
	background-color: #ef4036;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#tm-modal.small #tm-close{
	display: inline-block;
}

#tm-modal.expand #tm-close{
	display: inline-block;
}

#tm-content{
	opacity: 0;
}

#tm-modal.small #tm-content{
	opacity: 1;
}

#tm-modal.expand #tm-content{
	opacity: 1;
}

#glit{
	position: absolute;
	z-index: 5050;
	cursor: pointer;
	background-image: url('../media/glit.svg');
	background-size: 100% 100%;
}

#glit-modal{
	opacity: 0;
	transition: all 1s ease;
	height: 100%;
}

#glit-modal.small{
	opacity: 1;
	position: absolute;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	border: 15px solid #404040;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

#glit-modal.expand{
	opacity: 1;
	background: url('../media/page2modal3.svg');
	background-repeat: repeat-x;
	position: absolute;
	height: calc(76vh - 30px);
	width: calc(80vw - 30px);
	border: 15px solid #404040;
}

#glit-close{
	display: none;
	position: absolute;
	top: 30px;
	right: 20px;
	border-radius: 50%;
	background-color: #ef4036;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#glit-modal.small #glit-close{
	display: inline-block;
}

#glit-modal.expand #glit-close{
	display: inline-block;
}

#glit-content{
	opacity: 0;
}

#glit-modal.small #glit-content{
	opacity: 1;
}

#glit-modal.expand #glit-content{
	opacity: 1;
}

.bounce{
	animation: bounce .5s linear 4 alternate;
}

@keyframes bounce{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.06);
	}
}

#obj1{
	position: absolute;
	cursor: pointer;
}

#obj11{
	position: absolute;
	opacity: 0;
	transition: opacity 0.2s linear;
	z-index: 4501;
}

#o1.revealed #obj11{
	opacity: 1;
}

#obj1.pop{
	animation: pop 0.3s 1 linear .1s;
}

#obj3{
	position: absolute;
	z-index: 100;
	transform: translateX(-50%);
}
#obj30{
	position: absolute;
	z-index: 4501;
	transform: translateX(-50%);
	opacity: 0;
}

#obj2{
	position: absolute;
	z-index: 100;
	transform: translateX(-50%);
}
#obj20{
	position: absolute;
	z-index: 4501;
	transform: translateX(-50%);
	opacity: 0;
}

#obj4{
	position: absolute;
	z-index: 100;
	transform: translateX(-50%);
}
#obj40{
	position: absolute;
	z-index: 4501;
	transform: translateX(-50%);
	opacity: 0;
}

#vwarz{
	background-color: white;
	position: absolute;
	opacity: 0;
	z-index: 4502;
	transition: opacity 1s ease;
	min-width: 300px;
	max-width: 500px;
	padding: 15px;
	text-align: justify;
	font-family: 'Architects Daughter', sans-serif;
	font-size: .9em;
	line-height: 1.4em
}

#dance{
	background-color: white;
	position: absolute;
	opacity: 0;
	z-index: 4502;
	transition: opacity 1s ease;
	min-width: 300px;
	max-width: 500px;
	padding: 15px;
	text-align: justify;
	font-family: 'Architects Daughter', sans-serif;
	font-size: .9em;
	line-height: 1.4em
}

#music{
	background-color: white;
	position: absolute;
	opacity: 0;
	z-index: 4502;
	transition: opacity 1s ease;
	min-width: 300px;
	max-width: 500px;
	padding: 15px;
	text-align: justify;
	font-family: 'Architects Daughter', sans-serif;
	font-size: .9em;
	line-height: 1.4em
}

#drama{
	background-color: white;
	position: absolute;
	opacity: 0;
	z-index: 4502;
	transition: opacity 1s ease;
	min-width: 300px;
	max-width: 500px;
	padding: 15px;
	text-align: justify;
	font-family: 'Architects Daughter', sans-serif;
	font-size: .9em;
	line-height: 1.4em
}

#obj5{
	position: absolute;
	z-index: 4501;
	transition: all 1s;
}

#liter{
	background-color: white;
	position: absolute;
	opacity: 0;
	z-index: 4502;
	transition: opacity 1s ease;
	min-width: 300px;
	max-width: 500px;
	padding: 15px;
	text-align: justify;
	font-family: 'Architects Daughter', sans-serif;
	font-size: .9em;
	line-height: 1.4em
}

@keyframes pop{
	0%{transform: translateY(0%);}
	50%{transform: translateY(-50%);}
	100%{transform: translateY(0%);}
}

#team-page{
	width: 100vw;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(27,117,187,0.5);
	z-index: 5000;
	overflow: hidden;
	transition: height 1s;
}

#bclose{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#cep{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55vw;
	width: 15vw;
	transition: all 1s;
	cursor: pointer;
}

#cep.next{
	left: 90vw;
	width: 7vw;
	top: 95%;
	transform: translateY(-100%);
}

#team1{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50px;
	bottom: 30px;
	background-image: url('../media/bcon.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
}

#team2{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 130px;
	bottom: 30px;
	background-image: url('../media/bexe.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
}

#team3{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 210px;
	bottom: 30px;
	background-image: url('../media/btec.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
}

#team4{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 290px;
	bottom: 30px;
	background-image: url('../media/bmar.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
}

#team5{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 370px;
	bottom: 30px;
	background-image: url('../media/blog.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
}

#team6{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 450px;
	bottom: 30px;
	background-image: url('../media/bweb.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
}

#team7{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 530px;
	bottom: 30px;
	background-image: url('../media/bdec.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
}

#pad{
	position: absolute;
	bottom: 20vh;
	left: 5vw;
	height: 70vh;
}

.svg{
	width: 35vh;
	height: 35vh;
	position: absolute;
	bottom: 20vh;
	left: 5vw;
	display: none;
}

#pencil{
	position: absolute;
	max-height: 50vh;
	left: 6vw;
	bottom: 22vh;
}

#pencil.write{
	animation: writePencil .7s 1 linear;
}

@keyframes writePencil{
	0%{
		left: 5vw;
		bottom: 202px;
	}
	50%{
		left: 297px;
		bottom: 287px;
	}
	63%{
		left: 152px;
		bottom: 184px;
	}
	88%{
		left: 266px;
		bottom: 233px;
	}
	100%{
		left: 104px;
		bottom: 202px;
	}
}

.team-image{
	width: 250px;
	max-width: 15vw;
	transition: all 1s;
}

#dev{
	position: absolute;
	left: 30vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#bhawani{
	position: absolute;
	left: 50vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#aniket{
	position: absolute;
	left: 70vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#ronit{
	position: absolute;
	left: 30vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#deepak{
	position: absolute;
	left: 50vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#naveen{
	position: absolute;
	left: 70vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#udit{
	position: absolute;
	left: 30vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#sonal{
	position: absolute;
	left: 50vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#vishnu{
	position: absolute;
	left: 70vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#khatri{
	position: absolute;
	left: 40vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#ankit{
	position: absolute;
	left: 60vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#prantik{
	position: absolute;
	left: 40vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#samim{
	position: absolute;
	left: 60vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#kunal{
	position: absolute;
	left: 40vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#satyam{
	position: absolute;
	left: 60vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#manish{
	position: absolute;
	left: 30vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#satyamp{
	position: absolute;
	left: 50vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

#shrinjay{
	position: absolute;
	left: 70vw;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
}

@media screen and (max-width: 720px){

	#bclose{
		position: absolute;
		top: 2vw;
		right: 2vw;
		width: 10vw;
		height: 10vw;
		cursor: pointer;
	}

	#cep{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 60vw;
		width: 30vw;
		transition: all 1s;
		cursor: pointer;
	}

	#cep.next{
		left: 5vw;
		width: 15vw;
		top: 14vw;
		transform: translateY(0);
	}

	#team1{
		width: 10vw;
		height: 10vw;
		position: absolute;
		left: 2vw;
		bottom: calc(100% - 12vw);
		background-image: url('../media/bcon.svg');
		background-size: 100% 100%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 10000;
	}

	#team2{
		width: 10vw;
		height: 10vw;
		position: absolute;
		left: 14vw;
		bottom: calc(100% - 12vw);
		background-image: url('../media/bexe.svg');
		background-size: 100% 100%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 10000;
	}

	#team3{
		width: 10vw;
		height: 10vw;
		position: absolute;
		left: 26vw;
		bottom: calc(100% - 12vw);
		background-image: url('../media/btec.svg');
		background-size: 100% 100%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 10000;
	}

	#team4{
		width: 10vw;
		height: 10vw;
		position: absolute;
		left: 38vw;
		bottom: calc(100% - 12vw);
		background-image: url('../media/bmar.svg');
		background-size: 100% 100%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 10000;
	}

	#team5{
		width: 10vw;
		height: 10vw;
		position: absolute;
		left: 50vw;
		bottom: calc(100% - 12vw);
		background-image: url('../media/blog.svg');
		background-size: 100% 100%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 10000;
	}

	#team6{
		width: 10vw;
		height: 10vw;
		position: absolute;
		left: 62vw;
		bottom: calc(100% - 12vw);
		background-image: url('../media/bweb.svg');
		background-size: 100% 100%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 10000;
	}

	#team7{
		width: 10vw;
		height: 10vw;
		position: absolute;
		left: 74vw;
		bottom: calc(100% - 12vw);
		background-image: url('../media/bdec.svg');
		background-size: 100% 100%;
		border-radius: 50%;
		cursor: pointer;
		z-index: 10000;
	}

	#pad{
		position: absolute;
		bottom: 5vw;
		left: 5vw;
		height: calc(100% - 40vw);
		width: auto;
		max-width: 45vw;
		/*transform: rotate(90deg);*/
	}

	.svg{
		width: calc(50vh - 20vw);
		max-width: 45vw;
		height: calc(50vh - 20vw);
		position: absolute;
		bottom: 5vw;
		left: 5vw;
		display: none;
	}

	#pencil{
		position: absolute;
		max-height: 50vh;
		left: 6vw;
		bottom: 22vh;
	}

	#pencil.write{
		animation: writePencil .7s 1 linear;
	}

	@keyframes writePencil{
		0%{
			left: 5vw;
			bottom: 22vw;
		}
		50%{
			left: 40vw;
			bottom: 34vw;
		}
		63%{
			left: 10vw;
			bottom: 27vw;
		}
		88%{
			left: 35vw;
			bottom: 32vw;
		}
		100%{
			left: 104px;
			bottom: 202px;
		}
	}

	.team-image{
		width: 30vw;
		max-width: 40vw;
		transition: all 1s;
	}

	#dev{
		position: absolute;
		left: 60vw;
		top: 15%;
		transform: translateY(0);
		opacity: 0;
	}

	#bhawani{
		position: absolute;
		left: 60vw;
		top: 40%;
		transform: translateY(0);
		opacity: 0;
	}

	#aniket{
		position: absolute;
		left: 60vw;
		top: 65%;
		transform: translateY(0);
		opacity: 0;
	}

	#ronit{
		position: absolute;
		left: 60vw;
		top: 15%;
		transform: translateY(0);
		opacity: 0;
	}

	#deepak{
		position: absolute;
		left: 60vw;
		top: 40%;
		transform: translateY(0);
		opacity: 0;
	}

	#naveen{
		position: absolute;
		left: 60vw;
		top: 65%;
		transform: translateY(0);
		opacity: 0;
	}

	#udit{
		position: absolute;
		left: 60vw;
		top: 15%;
		transform: translateY(0);
		opacity: 0;
	}

	#sonal{
		position: absolute;
		left: 60vw;
		top: 40%;
		transform: translateY(0);
		opacity: 0;
	}

	#vishnu{
		position: absolute;
		left: 60vw;
		top: 65%;
		transform: translateY(0);
		opacity: 0;
	}

	#khatri{
		position: absolute;
		left: 60vw;
		top: 15%;
		transform: translateY(0);
		opacity: 0;
	}

	#ankit{
		position: absolute;
		left: 60vw;
		top: 40%;
		transform: translateY(0);
		opacity: 0;
	}

	#prantik{
		position: absolute;
		left: 60vw;
		top: 15%;
		transform: translateY(0);
		opacity: 0;
	}

	#samim{
		position: absolute;
		left: 60vw;
		top: 40%;
		transform: translateY(0);
		opacity: 0;
	}

	#kunal{
		position: absolute;
		left: 60vw;
		top: 15%;
		transform: translateY(0);
		opacity: 0;
	}

	#satyam{
		position: absolute;
		left: 60vw;
		top: 40%;
		transform: translateY(0);
		opacity: 0;
	}

	#manish{
		position: absolute;
		left: 60vw;
		top: 15%;
		transform: translateY(0);
		opacity: 0;
	}

	#satyamp{
		position: absolute;
		left: 60vw;
		top: 40%;
		transform: translateY(0);
		opacity: 0;
	}

	#shrinjay{
		position: absolute;
		left: 60vw;
		top: 65%;
		transform: translateY(0);
		opacity: 0;
	}
}

@keyframes appear{
	from{
		transform: translateY(-50%) scale(0);
	}
	to{
		transform: translateY(-50%) scale(1);
	}
}