html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#page1{
    position: relative;
    height: 100vh;
    background-image: url('../images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

#btn-down{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../images/down.svg');
    border-radius: 50%;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 33;
    cursor: pointer;
}

#page2{
    position: relative;
    display: none;
    z-index: 100;
}

#page2-content{
    position: relative;
    z-index: 110;
    padding: 10vh 10vw 5vh 10vw;
}

#container{
    position: absolute;
}

.component{
    position: absolute;
}

#c0{
    background-color: #e78a3e;
    z-index: 1;
}

.button-top{
    background-color: #3f3f3f;
    z-index: 5;
}

#c6{
    background-color: #262626;
}

#c7{
    background-color: #ebb153;
    z-index: 3;
}

#c8{
    background-color: #ebb153;
    z-index: 3;
}

#c9{
    z-index: 3;
    background-color: #b36b30;
}

#c10{
    z-index: 3;
    background-color: #b36b30;
}

#c11{
    z-index: 2;
    background-color: #b36b30;
}

#c12{
    background-color: #262626;
    z-index: 3;
}

#c13{
    background-color: #3f3f3f;
    z-index: 3;
}

#c14{
    z-index: 3;
    background-color: #8a8d90;    
}

#c15{
    z-index: 3;
    background-color: rgba(200,200,200,.2);
}

#c16{
    z-index: 4;
    background-color: #884542;
}

#c17{
    z-index: 4;
    background-color: #5c656d;
}

#c18{
    z-index: 4;
    background-color: #aabecf;
}

#c19{
    z-index: 4;
    background-color: #aabecf;
}

#c20{
    z-index: 4;
    background-color: #797472;
}

#c21{
    z-index: 4;
    background-color: #6f5f52;
}

#c22{
    background-color: #aabecf;
    z-index: 4;
}

#c23{
    background-color: #aabecf;
    z-index: 4;
}

#c24{
    z-index: 3;
    background-color: #b36b30;
}

/*
#welcome{
    position: fixed;
    opacity: 0;
}
*/

#incand{
    position: absolute;
    opacity: 0;
}

#coming{
    opacity: 0;
    position: absolute;
}

#footer{
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: 20px 0;
    margin: 0 10vw;
    color: rgba(0,0,0,0.7);
    font-size: 20px;
}


/*
#divider{
    height: .2em;
    background-color: #7fa7ab;
}*/
