@font-face{
	font-family: bagnard;
	src: url('../fonts/bagnard.ttf');
}

@font-face{
	font-family: cicle;
	src: url('../fonts/cicle.ttf');
}

*{
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	margin: 0;
}

#div0{
	background-color: #131129;
	position: relative;
	height: 90vh;
}

#layer1, #layer2, #layer3{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#layer1{
	z-index: 1;
}

#layer2{
	z-index: 2;
}

	#ssl_text{
		width: 25vw;
		position: absolute;
		top: 45%;
		left: 30vw;
		transform: translate(-50%, -110%);
	}

	#ssl_tagline{
		width: 25vw;
		position: absolute;
		top: 45%;
		left: 30vw;
		transform: translate(-50%, 100%);
		color: #fff;
		font-family: 'cicle';
	}

	#bg_deer{
		position: absolute;
		width: 25vw;
		right: 25vw;
		bottom: 0;
		transform: translateX(50%);
	}

	#layer3{
		z-index: 3;
		background-image: url('../media/curve.png');
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: contain;
	}

	@media (orientation: portrait){

		#div0{
			height: 100vw;
		}

		#ssl_text{
			width: 50vw;
			top: 25vw;
			transform: translate(-50%, -100%);
			left: 50%;
		}

		#ssl_tagline{
			width: 50vw;
			text-align: center;
			top: 25vw;
			left: 50vw;
			transform: translate(-50%, 50%);
			color: #fff;
		}

		#bg_deer{
			width: 50vw;
			right: 50vw;
			transform: translateX(50%);
		}
	}

#div1{
	position: relative;
}

#logo{
	position: absolute;
	top: 0;
	left: 5vw;
	width: 5vw;
	transition: opacity linear 1s;
	opacity: 0;
}

#logo.appear{
	opacity: 1;
}

#logo.stick{
	opacity: 1;
	position: fixed;
	top: 5vh;
}

@media (orientation: portrait){
	#logo{
		width: 10vw;
	}
}

#contact-us{
	cursor: pointer;
	padding: 0.5em 1.5em;
	background-color: #54799e;
	position: relative;
	color: #fff;
	font-family: 'bagnard';
	top: 2em;
}

#contact-us:hover{
	background-color: #34597e;
}

.content{
	text-align: center;
	padding: 0 15vw 10vw;
	line-height: 1.6em;
	color: #505ca9;
	font-family: 'cicle';
	font-size: 1.1em;
}

.content div{
	font-family: 'cicle';
}

#content0{
	padding-top: 5em;
	font-size: 1.3em;
}

@media (orientation: portrait){
	.content{
		font-size: 0.9em;
		padding: 0 20vw 5vw;
	}

	#content0{
		font-size: 1em;
	}
}

.section_header{
	display: block;
	text-align: center;
	margin-bottom: 1.5em;
	font-family: 'bagnard';
	font-size: 1.5em;
	color: #14142f;
}

#div2{
	background-color: #eeeeee;
	padding: 5vw 15vw;
}

#content2{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5vw;
	margin-top: 5vw;
}

#content2 div{
	text-align: center;
	font-family: 'cicle';
}

.str{
	width: 100%;
}

@media (orientation: portrait){

	#div2{
		padding: 5vw 20vw;
	}

	#content2{
		grid-template-columns: 1fr;
	}
}

#div3{
	padding: 5vw 15vw;
}

#projects{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5vw;
}

.project{
	background-color: #eee;
	position: relative;
}

.project-image{
	width: 100%;
	height: 120px;
	background-color: #ddd;
}

.project-name{
	padding: 1vw;
	font-size: 1.2em;
	font-family: 'cicle';
	font-weight: bold;
}

.project-description{
	padding: 0 1vw 1vw 1vw;
	font-family: 'cicle';
	font-size: 0.9em;
}

@media (orientation: portrait){

	#div3{
		padding: 5vw 20vw;
	}

	#projects{
		grid-template-columns: 1fr;
		grid-gap: 10vw;
	}

	.project-name{
		padding: 3vw;
	}

	.project-description{
		padding: 0 3vw 3vw 3vw;
	}
}

#div4{
	background-color: #eee;
	padding: 5vw 15vw;
	position: relative;
}

#testimonials{
	width: 70vw;
	overflow-x: hidden;
	position: relative;
}

.testimonial{
	display: inline-block;
	text-align: center;
	width: 70vw;
	position: absolute;
}

.testimonial-image, .testimonial-stars{
	display: block;
	width: 5vw;
	margin-left: 35vw;
	transform: translateX(-50%);
	padding-bottom: 2.5vw;
}

.testimonial-stars{
	width: 10vw;
}

.testimonial div{
	font-family: 'cicle';
	line-height: 1.8em;
}

#left-test{
	width: 0; 
	height: 0; 
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-right: 0.8em solid #54799e;
	position: absolute;
	left: 10vw;
	top: 50%;
	cursor: pointer;
}

#right-test{
	width: 0; 
	height: 0; 
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-left: 0.8em solid #54799e;
	position: absolute;
	right: 10vw;
	top: 50%;
	cursor: pointer;
}

/*@media (orientation: portrait){

	#div4{
		padding: 10vw 20vw;
	}

	.testimonial-image, .testimonial-stars{
		margin-left: 30vw;
		width: 10vw;
		padding-bottom: 5vw;
	}

	.testimonial-stars{
		width: 20vw;
	}

	.testimonial div{
		font-family: 'cicle';
		line-height: 1.5em;
		font-size: 0.9em;
	}
}*/

#footer{
	display: grid;
	background-color: #252575;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2em 5em;
	grid-gap: 2em;
}

@media (orientation: portrait){
	#footer{
		grid-template-columns: 1fr;
		padding: 3em;
		grid-gap: 10vw;
	}
}

	#social-links{
		align-self: center;
		justify-self: center;
	}

	#address{
		align-self: center;
		color: #fff;
		font-family: 'cicle';
		color: #54799e;
	}

	#services{
		align-self: center;
		text-align: right;
		color: #fff;
		font-family: 'cicle';
		color: #54799e;
	}

	.social-icon{
		max-width: 40px;
		cursor: pointer;
	}