html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    height: 200%;
    width: 100%;
}

#page1{
    height: 50%;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center center;
}

#container{
    position: absolute;
}

.component{
    position: absolute;
}

#c0{
    background-color: #e78a3e;
    z-index: 1;
}

.button-top{
    background-color: #3f3f3f;
    z-index: 5;
}

#c6{
    background-color: #262626;
}

#c7{
    background-color: #ebb153;
    z-index: 3;
}

#c8{
    background-color: #ebb153;
    z-index: 3;
}

#c9{
    z-index: 3;
    background-color: #b36b30;
}

#c10{
    z-index: 3;
    background-color: #b36b30;
}

#c11{
    z-index: 2;
    background-color: #b36b30;
}

#c12{
    background-color: #262626;
    z-index: 3;
}

#c13{
    background-color: #3f3f3f;
    z-index: 3;
}

#c14{
    z-index: 3;
    background-color: #8a8d90;    
}

#c15{
    z-index: 3;
    background-color: rgba(200,200,200,.2);
}

#c16{
    z-index: 4;
    background-color: #884542;
}

#c17{
    z-index: 4;
    background-color: #5c656d;
}

#c18{
    z-index: 4;
    background-color: #aabecf;
}

#c19{
    z-index: 4;
    background-color: #aabecf;
}

#c20{
    z-index: 4;
    background-color: #797472;
}

#c21{
    z-index: 4;
    background-color: #6f5f52;
}

#c22{
    background-color: #aabecf;
    z-index: 4;
}

#c23{
    background-color: #aabecf;
    z-index: 4;
}

#c24{
    z-index: 3;
    background-color: #b36b30;
}

/*
#welcome{
    position: fixed;
    opacity: 0;
}
*/

#incand{
    position: absolute;
    opacity: 0;
}

#coming{
    opacity: 0;
    position: absolute;
}


#divider{
    height: .2em;
    background-color: #7fa7ab;
}